body{
	background-color: #2D4571;
}
h1{
	color: black;
	text-align: center;
}
h2{
	color: black;
	text-align:center;
}
p{
	font-family: verdana;
	font-size:20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a.active {
    background-color: #4CAF50;
}
a:link{
	text-decoration: underline;
}

nav li a.test{
float: left;
    color: black;
    padding: 0px 0px;
    text-decoration: underline;
}

nav li a{
    float: left;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
section {
 display: flex;
}
aside {
 flex: 1
}
article {
 flex: 4
}


.portfolio{

	display: grid;
	grid-template-columns: 390px 390px 390px;
	grid-template-rows:375px 375px 375px;
	grid-column-gap: 0;
	grid-row-gap: 0;
  	background-color: white;
}

.image{
	background-color:white;
	display:flex;
	width: 80px;
   	height: 250px;
	padding: 100px;
}

.footer {
 	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px;
	background-color: white;
	text-align: center;
}
.names{
	font-size:12px;
}
.about{
	font-size:18px;
	padding:40px;
	text-align:center;
}
.rotateimg90 {
  transform: rotate(90deg);
}

.bigPic{
	background-color:white;
	display:flex;
	width: auto;
   	height: auto;
	padding: 100px;
}
.review{
	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px;
	background-color: white;
	text-align: center;
}
.wrapper {
  display: grid;
 grid-template-columns: 250px 100px;
  grid-column-gap: none;
}
.letter{

	display: grid;
	grid-column-gap: 0;
	grid-row-gap: 0;
  	background-color: white;
}
