
body {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 50px;
}
.portfolio{

	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-template-rows:300px 300px 300px;
	grid-column-gap: 0;
	grid-row-gap: 0;
  	background-color: white;
}

div {
    text-align: center;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #5B0B4C;
    height: 130px;
}
.image{
	background-color:white;
	display:flex;
	width: auto;
   	height: auto;
	padding: 20px;
}
.sidebar {
    grid-area: sidebar;
    background-color: #482255;
}


.main {
    grid-area: main;
    background-color: #2F3C5E;
}

.footer {
    grid-area: footer;
    background-color: #007170;
    height: 80px;
}
.rotate90 {
  transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
}
