
body {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 50px;
}
.portfolio{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows:auto auto auto;
  	background-color: #02464F;
}
.image{
	background-color:#02464F;
	display:flex;
}
div {
    text-align: center;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #416B71;
    height: 130px;
}
.sidebar {
    grid-area: sidebar;
    background-color: #798789;
}


.main {
    grid-area: main;
    background-color: #00363E;
}

.footer {
    grid-area: footer;
    background-color: #416B71;
    height: 80px;
    color: white;
}
.rotate90 {
  transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
}

.footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0;
}
.header ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

.header li {
    display:inline-block;
    float: center;
    margin-right: 1px;
}
.header li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
.header li a.active {
    background: #003B4E;
}
.header li:hover a {
    background: #003B4E;
}
.header li:hover ul a {
    background: #6c8a94;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
.header li:hover ul a:hover {
    background: #035671;
    color: #fff;
}
.header li ul {
    display: none;
}
.header li ul li {
    display: block;
    float: none;
}
.header li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
.header ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
.header .show-menu {
    text-decoration: none;
    color: #fff;
    background: #81949A;
    text-align: center;
    padding: 10px 0;
    display: none;
}
.header input[type=checkbox]{
    display: none;
}
.header input[type=checkbox]:checked ~ #menu{
    display: block;
}
div .footer {
    color: red;
}
@media screen and (max-width : 740px){
    body {
        padding: 0px;
    }

    .header {
	height: auto;
    }
    .container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
            "header"
            "main"
	    "sidebar"
            "footer";
	grid-gap: 20px;
    }
    
    .header ul {
        position: static;
        display: none;
    }
    .header li {
        margin-bottom: 1px;
    }
    .header ul li, li a {
        width: 100%;
    }
    .header .show-menu {
        display:block;
    }
}
